<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shopify Developer Challenge</title>
    <link rel="stylesheet" href="css/productspage.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div>
        <h1>Deletion details</h1>
        <table>
            <tr>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Total Quantity</th>
            </tr>
                
                <tr>
                    <td><%=product.id%></td>
                    <td><%=product.name%></td>
                    <td><%=product.totalq%></td>

                </tr>
            

            
            
          </table> 
          
          <form class="text-center mb-3" action="/delete" method="post">
            <div class="text-center mb-5">
              Reason for Deletion?
              <input type = "text" size=100 name="reasonfordeletion">
              </div>
            <button class="btn btn-dark" type="submit" name="item" value="<%-product.id%>">Submit</button>
          </form>
          <form  class="text-center" action="/back" method="get">
            <button class="btn btn-dark" type="submit" name="back" value="<%-product.id%>">Back </button>
          </form>
    </div>
      
  </body>
</html>